h1 {
    text-transform: uppercase;
    text-decoration: none;
}
h1:first-letter {
    color: #ffcc00;
}

a:active,:hover,:link,:visited {
    text-decoration: none;
    color: #333333;
}

.div {
    background-color: #000;
}

.panel {
    font: normal 18px arial;
    text-decoration: none;
    max-width: 1024px;
    margin: auto;
}

#setmessage, #sendmessage, #getmessage {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(224,224,224,0.5);
    padding: 10px;
    margin-top: 10px;
}
#getmessage {
    display: none;
}

.input, #plaintext, #linktobob, #message {
    width: 98%;
    margin: 10px auto;
}

.button, #submitcipherserver, #getmessagebtn {
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #ffcc00; /#4CAF50/
}
