body {
    font: normal 18px arial;
    text-decoration: none;
    background-color: #fff;
}
.panel {
    max-width: 1024px;
    margin: auto;
}

#getmessage {
    display: none;
}

h1 {
    text-transform: uppercase;
    text-decoration: none;
}
h1:first-letter {
    color: #ffcc00;
}
a:active,:hover,:link,:visited {
    text-decoration: none;
    color: #333333;
}
.panel > div {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(224,224,224,0.5);
    padding: 10px;
    margin-top: 10px;
}
input {
    width: 98%;
    margin: 10px auto;
}
button {
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #ffcc00; /#4CAF50/
}